.box-heder {
    background-image: url(images/cc-bg-1.jpg);
    height: 80vh;
}

.navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-link{
    color: #edf0f0;
    text-transform: uppercase;
    padding: 10px;
    margin: 5px;

}

.nav-link:hover {
    color: #edf0f0;
    background-color: #4f716c;
    border-radius: 10px 0px 10px 0px;
}

.box-heder-img-text{
    color: #edf0f0;
    text-transform: uppercase;
    text-align: center;
}

.img-heder{
    width: 180px;
    height: 180px;
    border-radius: 100px;
    margin-bottom: 25px ;
}

.h-heder {
    font-weight: bolder;
}

.bt-heder {
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 25px ;
    color: #edf0f0;
    background-color: #378c3f;
}

.bt-heder:hover {
    border: none;
    border-radius: 5px;
    padding: 10px 25px ;
    color: #edf0f0;
    background-color: #40a249;
}

.font-awesome-icon-heder{
    color: #edf0f0;
    font-size: 40px;
    margin-left: 15px ;
    background-color: #888888;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-awesome-icon-heder:hover{
    color: #edf0f0;
    font-size: 40px;
    margin-left: 15px ;
    background-color: #888888;
    border-radius: 100px;
    border: none;
    
}

.social-media{
    text-align: center;
}
/* ============================================= */

.box-progress{
    width: 850px;
    height: 150px;
    background-color: #ffffff;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.2);
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    margin-top: 20px;
    color: #509a57;
}

.progress-info {
    display: flex;
    justify-content: space-between;
}

.progress-left, .progress-right {
    width: 50%;
    margin: 5px;
}

.progress-bar {
    background-color: #378c3f;
}

.progress {
    background-color: #afd1b2;
}

.section {
    text-align: center;
}